POSTGRES_PASSWORD=foobar
POSTGRES_USER=scaife
DATABASE_URL=postgres://scaife:foobar@scaife-postgres:5432/scaife-viewer
ELASTICSEARCH_HOSTS=scaife-elasticsearch
DEBUG=0
CTS_LOCAL_DATA_PATH=/sv-data/cts
ATLAS_DATA_DIR=/sv-data/atlas_data
CTS_RESOLVER_CACHE_LOCATION=/sv-data/cts_resolver_cache
GUNICORN_CMD_ARGS=--bind 0.0.0.0:8000 --timeout=120 --access-logfile=- --workers=3 --max-requests-jitter=50 --max-requests=500
SECRET_KEY=keep-it-sage
